body { 
    background: #f5f5fa; 
    color: #1f1f29; 
    font-family: Arial, sans-serif;
}

.container {
    width: 85%;
    margin: 20px auto;
    background-color: white;
    border: 1px solid black;
    padding: 15px;
    border-radius: 8px; /* rounded corners */
}

h1 {
    text-align: center;
    color: #333;
}

.favorite {
    color: blue;
    font-weight: bold;
}
